$headingFont: 'Montserrat', sans-serif;
$paraFont: 'Barlow', sans-serif;

$primary: #0e2b63;
$secondary: #00b1eb;
$tertiary: #004f9f;
$fourth: #004f9f;
$forth: #004f9f;
$fifth: #5a328a;
$offWhite: #f5f5f5;
$black: #000000;
